$red-color: #ff0b0b;
$light-red-color: #ff8484;
$light-blue-color: #eff6fc;
$blue-color: #429cdd;
$gray-color: #e5e5e5;
$white-color: #fff;
$black-color: #0c0c0c;
$card-width: 105px;
$number-of-cards: 3;