@use '../../styles/mixins.scss' as mixin;
@use '../../styles/vars.scss' as var;

.search {
    @include mixin.flex-center;
    flex-direction: column;
    gap: 10px;
    

    &Input {
        border: 1px solid var.$gray-color;
        border-radius: 100px;
        height: 30px;
        width: 300px;
        padding: 0 10px;
        outline: none;

        &:focus {
            @include mixin.shadow;
        }
    }
}