@use '../../styles/vars.scss' as var;

.msg {
    padding: 5px 20px;
    border: 1px solid var.$red-color;
    background-color: var.$light-red-color;
    border-radius: 100px;

    &Txt {
        color: var.$white-color;;
    }
}